In [8]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier

# Q.2

In [4]:
cancer=pd.read_csv('BreastCancer.csv')
cancer

,Code,Clump,UniCell_Size,Uni_CellShape,MargAdh,SEpith,BareN,BChromatin,NoemN,Mitoses,Class
0,61634,5,4,3,1,2,2,2,3,1,Benign
1,63375,9,1,2,6,4,10,7,7,2,Malignant
2,76389,10,4,7,2,2,8,6,1,1,Malignant
3,95719,6,10,10,10,8,10,7,10,7,Malignant
4,128059,1,1,1,1,2,5,5,1,1,Benign
...,...,...,...,...,...,...,...,...,...,...,...
694,1369821,10,10,10,10,5,10,10,10,7,Malignant
695,1371026,5,10,10,10,4,10,5,6,3,Malignant
696,1371920,5,1,1,1,2,1,3,2,1,Benign
697,8233704,4,1,1,1,1,1,2,1,1,Benign
698,13454352,1,1,3,1,2,1,2,1,1,Benign

In [5]:
dum_df = pd.get_dummies(cancer,drop_first=True)
X = dum_df.drop(["Code","Class_Malignant"],axis=1)
y = dum_df["Class_Malignant"]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,
                                                    random_state=2022)

In [9]:
clf = RandomForestClassifier(random_state=2022)
clf.fit(X_train,y_train)
y_pred_prob = clf.predict_proba(X_test)[:,1]
print(roc_auc_score(y_test,y_pred_prob))

0.9999012345679013

In [ ]:
cancer.columns=['']

# Q3

In [43]:
df3=pd.read_csv('diabetes.csv')

In [44]:
df3

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [45]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [46]:
df3.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

# titanic dataset

In [31]:
df=pd.read_csv('Titanic.csv.xls')

In [32]:
df.isnull().sum()

survived      0
pclass        0
sex           0
age         177
sibsp         0
parch         0
fare          0
embarked      2
deck        688
dtype: int64

In [33]:
df['sex']=df['sex'].map({'male':0,'female':1})

In [34]:
df['embarked'].value_counts()

S    644
C    168
Q     77
Name: embarked, dtype: int64

In [35]:
df['embarked']=df['embarked'].map({'S':0,'C':1,'Q':2})

In [36]:
df.drop(['deck'],axis='columns',inplace=True)

In [37]:
df

     survived  pclass  sex   age  sibsp  parch     fare  embarked
0           0       3    0  22.0      1      0   7.2500       0.0
1           1       1    1  38.0      1      0  71.2833       1.0
2           1       3    1  26.0      0      0   7.9250       0.0
3           1       1    1  35.0      1      0  53.1000       0.0
4           0       3    0  35.0      0      0   8.0500       0.0
..        ...     ...  ...   ...    ...    ...      ...       ...
886         0       2    0  27.0      0      0  13.0000       0.0
887         1       1    1  19.0      0      0  30.0000       0.0
888         0       3    1   NaN      1      2  23.4500       0.0
889         1       1    0  26.0      0      0  30.0000       1.0
890         0       3    0  32.0      0      0   7.7500       2.0

[891 rows x 8 columns]

In [38]:
df['embarked'].dropna()

0      0.0
1      1.0
2      0.0
3      0.0
4      0.0
      ...
886    0.0
887    0.0
888    0.0
889    1.0
890    2.0
Name: embarked, Length: 889, dtype: float64

In [39]:
df['age'].dropna()

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
885    39.0
886    27.0
887    19.0
889    26.0
890    32.0
Name: age, Length: 714, dtype: float64

In [40]:
df.dropna()

     survived  pclass  sex   age  sibsp  parch     fare  embarked
0           0       3    0  22.0      1      0   7.2500       0.0
1           1       1    1  38.0      1      0  71.2833       1.0
2           1       3    1  26.0      0      0   7.9250       0.0
3           1       1    1  35.0      1      0  53.1000       0.0
4           0       3    0  35.0      0      0   8.0500       0.0
..        ...     ...  ...   ...    ...    ...      ...       ...
885         0       3    1  39.0      0      5  29.1250       2.0
886         0       2    0  27.0      0      0  13.0000       0.0
887         1       1    1  19.0      0      0  30.0000       0.0
889         1       1    0  26.0      0      0  30.0000       1.0
890         0       3    0  32.0      0      0   7.7500       2.0

[712 rows x 8 columns]

In [41]:
df.isnull().sum()

survived      0
pclass        0
sex           0
age         177
sibsp         0
parch         0
fare          0
embarked      2
dtype: int64

In [45]:
import numpy as np
df['age'].replace(np.NaN,df['age'].mean(),inplace=True)
df['embarked'].replace(np.NaN,df['embarked'].mean(),inplace=True)

In [46]:
df['age']

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: age, Length: 891, dtype: float64

In [47]:
df.isnull().sum()

survived    0
pclass      0
sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
dtype: int64

In [48]:
x=df
y=df['survived']

In [49]:
x

     survived  pclass  sex        age  sibsp  parch     fare  embarked
0           0       3    0  22.000000      1      0   7.2500       0.0
1           1       1    1  38.000000      1      0  71.2833       1.0
2           1       3    1  26.000000      0      0   7.9250       0.0
3           1       1    1  35.000000      1      0  53.1000       0.0
4           0       3    0  35.000000      0      0   8.0500       0.0
..        ...     ...  ...        ...    ...    ...      ...       ...
886         0       2    0  27.000000      0      0  13.0000       0.0
887         1       1    1  19.000000      0      0  30.0000       0.0
888         0       3    1  29.699118      1      2  23.4500       0.0
889         1       1    0  26.000000      0      0  30.0000       1.0
890         0       3    0  32.000000      0      0   7.7500       2.0

[891 rows x 8 columns]

In [50]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64

In [51]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=200)

In [61]:
logreg = LogisticRegression()
bagging = BaggingClassifier(base_estimator=logreg,n_estimators=20,
                    random_state=2022)
bagging.fit(x_train,y_train)


y_pred_prob = bagging.predict_proba(x_test)[:,1]
print(y_pred_prob)
print(roc_auc_score(y_test,y_pred_prob))

C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

[0.01971431 0.00957401 0.93899167 0.01120804 0.97714397 0.02994676
 0.97853613 0.91589567 0.95730024 0.01275193 0.00693894 0.96255316
 0.98774719 0.99377624 0.03385576 0.96352698 0.00594793 0.99281481
 0.01593102 0.02438972 0.02184283 0.93170211 0.97884086 0.01211344
 0.00846743 0.00640835 0.99165425 0.01910123 0.96942599 0.93995141
 0.97676895 0.04800287 0.97877903 0.92041695 0.97741954 0.90849553
 0.97955189 0.98626294 0.01395876 0.96465938 0.00943951 0.01221296
 0.96194867 0.99044648 0.00644988 0.03271691 0.01115332 0.03366169
 0.01078431 0.90401834 0.023269   0.9855908  0.99106662 0.02473361
 0.99315149 0.03997698 0.98606668 0.99168896 0.03902931 0.00521154
 0.98228367 0.00536213 0.02274114 0.98082329 0.01480273 0.01180135
 0.01031394 0.9644088  0.02417172 0.00802097 0.01262977 0.0109222
 0.01859304 0.97767129 0.02661816 0.95892187 0.0114994  0.01190236
 0.9862617  0.04396006 0.00755196 0.00711522 0.98569888 0.01907978
 0.98197914 0.01275186 0.98423683 0.03311545 0.00521154 0.01243334
 0.00824557 0.98607427 0.99028087 0.04290217 0.97993404 0.01285806
 0.01957868 0.03902931 0.01226706 0.98306756 0.98850674 0.90554372
 0.02776392 0.99314812 0.00943951 0.01263433 0.06328613 0.97566911
 0.0100552  0.00986287 0.98227683 0.92879884 0.97907726 0.00792106
 0.01325651 0.98961181 0.95352287 0.98117003 0.97435705 0.00940493
 0.97446634 0.02631742 0.00761035 0.01634462 0.00945979 0.01907978
 0.02985348 0.00673948 0.01806337 0.01513097 0.99369047 0.02539201
 0.97019421 0.00717491 0.93544263 0.91590897 0.98116658 0.04113458
 0.90064785 0.96638327 0.00978813 0.00890126 0.00881058 0.98452041
 0.01859348 0.01555654 0.01394861 0.97240234 0.00943951 0.00936683
 0.0241272  0.98286137 0.98965607 0.031406   0.01620084 0.98404172
 0.9889388  0.01779325 0.96836093 0.00180642 0.01387882 0.00943907
 0.00762131 0.04401545 0.01086939 0.01795327 0.01899228 0.01179905
 0.01086939 0.97368703 0.88555568 0.00551847 0.0155628  0.97644528
 0.00943907 0.97785688 0.98813044 0.01120943 0.0065737 ]
1.0

C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ak\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [62]:
bagging = BaggingClassifier(n_estimators=15,random_state=2022,
                            max_samples=x_train.shape[0],
                            max_features=x_train.shape[1])
bagging.fit(x_train,y_train)
y_pred_prob = bagging.predict_proba(x_test)[:,1]
print(roc_auc_score(y_test,y_pred_prob))

1.0

In [63]:

clf = RandomForestClassifier(random_state=2022)
clf.fit(x_train,y_train)
y_pred_prob = clf.predict_proba(x_test)[:,1]
print(roc_auc_score(y_test,y_pred_prob))

1.0